@model  HostelPro.ModelView.HostelView

@{
    ViewBag.Title = "Index";
}

<h2>Hostels</h2>
@(Html.Kendo().Grid(Model.hostel).Name("grd").Columns(col =>
{

    //col.Bound(c => c.Name);
    //col.Bound(i => i.Phone);
    //col.Bound(a => a.ZIP);
    //col.Bound(z => z.Address);


}))
<br />
<br />

@(Html.Kendo().Grid(Model.room).Name("Archive-grd").Columns(col => {

    

}))
<br />
<br />

@(Html.Kendo().Grid(Model.room).Name("grd2").Columns(col =>
{



}))

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City.CITY1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Information)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City.CITY1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Information)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>*@
