@model HostelPro.ModelView.HostelView

@{
    ViewBag.Title = "Home Page";
}
<div class="buttons">
    <div id="window">
        @Html.Kendo().TextBoxFor(c => c.CUS.Name)
        <br /><br />
        @Html.Kendo().TextBoxFor(c => c.CUS.Hash)
        <br />
        <br />
        <input type="button" class="btn btn-default" value="Register" id="register" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" class="btn btn-default" value="Login" />
        <br />
        <br />
        </div>
    <div id="btn1">
     <div id="window2">
         @Html.Kendo().TextBoxFor(c => c.CUS.Name)
         <br /><br />
         @Html.Kendo().TextBoxFor(c => c.CUS.Hash)
         <br /><br />
         @Html.Kendo().TextBoxFor(c => c.CUS.Email)
         <br /><br />
         @Html.Kendo().NumericTextBoxFor(c => c.CUS.Phone)
         <br /><br />
         @*<input type="button" class="btn btn-default" value="Login" id="loginBtn" />
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*@
         <input type="button" id="btn-login" class="btn btn-default" value="Register" />
         <br />
         <br />
     </div>
        @(Html.Kendo().MobileView()
    .Name("button-view")
    .Title("Inbox")
    .Content(
   
    @<text>
        
        <div>
            @(Html.Kendo().MobileButton()
                  .Name("mobile-button0")
            .Text("Slider"));
            

          @(Html.Kendo().MobileButton().Name("Offer")
          .Text("Last minute offer 75% off")
           );
            @(Html.Kendo().MobileButton()
                  .Name("book")
            .Text("Book Now")

            )
        </div>
        <div>

            @(Html.Kendo().MobileButton()
                .Name("mobile-button1")
                .Text("Check Room")

            )
            @(Html.Kendo().MobileButton()
                        .Name("mobile-button2")
                        .Text("CheapOffers")

            )
        </div>
        <div>
            @(Html.Kendo().MobileButton().Name("Home").Text("Today | Current Location | Support"))

        </div>
    </text>)

        )
    </div>
    <div id ="btn1">

    </div>
    


</div>
<script src="~/Scripts/app/MaingPage.js"></script>

@*@(Html.Kendo().PanelBar().Name("Room").Items(item => item.Add().Text("Rooms")))
@(Html.Kendo().PanelBar().Name("LandPage").Items(item => item.Add().Text("Rooms")))*@


@*@(Html.Kendo().PanelBar().Name("PanelOffer").Items(i =>
{
    i.Add().Text("Last minute offer");

}));*@