@model HostelPro.ModelView.HotelRoomBed

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <div class="ImCity">
        <img src="~/image/city.png" />

    </div>
   
<div class="div-left">

    <h3>New Hostel</h3>
    @using (Html.BeginForm("Create","Hostels",FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Hostel.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Hostel.Name,null, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Hostel.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Hostel.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Hostel.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Hostel.Address, "", new { @class = "text-danger" })
                </div>
            </div>
            @{


            }
            <div class="form-group">
                @Html.Label("City", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ZIP", null, htmlAttributes: new { @class = "form-control", id = "CityList" })
                    <br />
                    <p><a class="btn-link" id="ciLink">Add new city</a></p>


                    @Html.ValidationMessageFor(model => model.Hostel.ZIP, "", new { @class = "text-danger" })

                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Hostel.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Hostel.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Hostel.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Hostel.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Hostel.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Hostel.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <h2>Add Room</h2>
            <div class="form-group">
                <div class="col-md-10" id="NewRoom">
                    @(Html.Kendo().NumericTextBoxFor(m=>m.Room.ID).Name("RoomInput").Events(e =>
                {
                    e.Spin("element.addInput");
                    
                }).Placeholder("Add rooms").Min(0))
                </div>
                <div class="input-room">


                </div>
            </div>
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.Hostel.Information, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Hostel.Information, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Hostel.Information, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "Index","Admin",null, new {@class="btn" })
    </div>
</div>
<div class="div-left" id="city-di">
    @{
        AjaxOptions option = new AjaxOptions()
        {
            OnSuccess = "callback",
            Url = Url.Action("City"),
            HttpMethod = "Post"


        };


    }
    <div id="window" class="tab">
        @using (Ajax.BeginForm(option))
        {
            @Html.EditorFor(r =>r.City.CITY1, new { @class = "form-control" }) @:&nbsp; @Html.EditorFor(r => r.City.ZIP, new { @class = "form-control" })
            @:&nbsp;
            <br />
            <br />
            <input id="ciSave" type="submit" class=" btn btn-default" value="Save" />

        }
     
    </div>
 
</div>
  
</div>
<script>
    function callback(data) {
        $(".tab").hide()
        //$("tbody[data-model='model']").replaceWith(data)
        $('#CityList option').remove();
        var select = $('#CityList');
        $.each(data, function (key, value) {

            $(select).append('<option value=' + data.Zip + '>' + value.CITY1 + '</option>')

        })

    }
</script>
@*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
  
<script src="~/Scripts/app/Hostel.js"></script>
@section scripts{


    }
